<% open ||= false %>
<% move_actions_id = "report_col_#{f.index}_move" %>
<% move_actions = [{ name: 'Move Up', icon: 'fa-arrow-up', path: '#', turbo_action: 'report-form#columnUp' }, { name: 'Move Down', icon: 'fa-arrow-down', path: '#', turbo_action: 'report-form#columnDown' }] %>
<div class="flex space-x-4">
  <%= render DropdownComponent.new move_actions, id: move_actions_id do |d| %>
    <% d.with_trigger do %>
      <button
        type="button"
        class="focus:outline-none"
        data-dropdown-toggle="<%= move_actions_id %>"
        data-dropdown-target="trigger"
      >
        <i class="fas fa-arrows-alt"></i>
      </button>
    <% end %>
  <% end %>
  <button
    type="button"
    class="focus:outline-none group"
    data-collapse-toggle="<%= collapse_id %>"
    <%= 'aria-expanded=true' if open %>
  >
    <i class="fas fa-chevron-down transition-all group-aria-expanded:rotate-180"></i>
  </button>
  <button
    type="button"
    class="focus:outline-none"
    data-action="click->dynamic-fields#removeWithConfirm"
    title="Delete Column"
    data-confirmation="Are you sure? This will remove the column from the report permanently."
  >
    <i class="fas fa-trash text-red-300"></i>
  </button>
</div>