<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="mb-5 p-5 text-red-800 bg-red-100 rounded-lg">
    <strong class="font-bold text-sm">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-xs"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
