<% if devise_links.present? %>
    <div class="mt-3">
        <% devise_links.each_with_index do |link, idx| %>
          <%= link_to link[:path], class: 'text-sm text-primary-700 underline hover:no-underline' do %>
            <% if link[:icon].present? %>
              <i class="me-1 far <%= link[:icon] %>"></i>
            <% end %>
            <%= link[:label] %>
          <% end %>
          <% if idx < devise_links.size - 1 %>
            <span class="text-primary-700 mx-1">
              <%= "&centerdot;".html_safe %>
            </span>
          <% end %>
        <% end %>
    </div>
<% end %>