<section id="features" class="relative bg-primary-100">
    <div class="mt-20 pt-10 pb-20 bg-primary rounded-3xl m-5">
        <div class="max-w-screen-xl mx-auto px-10 xl:px-0">

            <div class="flex flex-col lg:flex-row gap-10 lg:gap-30">
                <div class="flex justify-center lg:justify-start">
                    <img src="<%= asset_path 'dude-on-laptop.svg' %>" alt="Laptop User graphic" class="relative z-1 -mt-20 lg:-mt-[20%] w-[20rem] lg:w-[36rem]" />
                </div>
                <div class="flex flex-col gap-10">
                    <header class="flex flex-col gap-5 text-primary-100">
                        <h2 class="text-xl font-bold uppercase text-center lg:!text-left">Features</h2>
                    </header>
                    <div class="flex flex-col lg:flex-row items-center justify-between gap-20">
                        <div class="flex flex-col gap-3 text-white order-2 lg:order-1">
                            <h3 class="font-semibold text-white text-lg">Customizable Build Conditions</h3>
                            <span class="text-sm text-primary-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row items-center justify-between gap-20">
                        <div class="flex flex-col gap-3 order-2">
                            <h3 class="font-semibold text-white text-lg">Spreadsheet Creation</h3>
                            <span class="text-sm text-primary-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>

                    <div class="flex flex-col lg:flex-row items-center justify-between gap-20">
                        <div class="flex flex-col gap-3 text-white order-2 lg:order-1">
                            <h3 class="font-semibold text-white text-lg">Visual Report Creation</h3>
                            <span class="text-sm text-primary-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <img src="<%= asset_path 'bubbles-2.svg' %>" alt="bubbles" class="absolute z-0 -top-20 -left-40 lg:-left-30 w-[20rem] lg:w-[25rem]" />
</section>